body{background-color: white;
  color: black;
  text-align: center;
  font-family: arial;}

form{}

p{}

h1{color: lightblue;
  padding: 1%;
  font-size: 350%;}
h2{}
h3{}
h4{font-size: 100%;}
h5{}
h6{}

#title{background-color: darkblue;
  color:white;
  margin-top: -2%;
  margin-left: -1%;
  position:fixed;
  height:20%;
  width:101%;}

#content{z-index: -1;
  padding-top: 10%;}

#freshmen{margin-left: -2%;
  width: 25%;
  position:fixed;}

#sophomores{margin-left: 23%;
  width: 25%;
  position:fixed;}

#juniors{margin-left: 48%;
  width: 25%;
  position:fixed;}

#seniors{margin-left: 73%;
  width: 25%;
  position:fixed;}
