body{background-color: white;
  color: black;
  text-align: center;
  font-family: arial;
  margin: 0;}

form{}

input[type=submit]{width: 40%;
  background: #093380;
  color: white;
  padding: 2% 10%;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 100%;}

input[type=submit]:hover{background-color: #111;
  cursor: pointer;}

input[type=email]{width: 80%;
  padding: 2% 2%;
  font-size: 100%;}

input[type=password]{width: 80%;
  padding: 2% 2%;
  font-size: 100%;}

p{}

h1{color: lightblue;
  padding: 1%;}
h2{}
h3{}
h4{font-size: 120%;
  color: #093380;
  padding: 1%;}
h5{padding-right: 1%;}
h6{color: lightblue;
  padding-right: 1%;
  padding-left: 2%;
  display: inline;}

a{color:lightblue;}
a:visited{color:lightblue;}
a:hover{color:white;
  text-shadow: 0 0 5px white;}

ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../img/bg-body.jpg);
  background-position: center;
  position: fixed;
  bottom: -1%;
  width: 100%;
  height: 10%;
  font-size: 150%;}

li {float: left;
  border-right: 1px solid #bbb;}

li a {display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 50px;}

li a:hover:not(.active) {
  background-color: #111;
  text-shadow: none;}

li h6{border-right: none;}

li:nth-child(2) {
  border-left: 1px solid #bbb;}

li:first-child {
  border: none;
}

li:last-child {
  border: none;
}

a.active {background-color: darkblue;
  text-shadow: none;}

#title{background-image:url(../img/bg-body.jpg);
  background-size:cover;

  background-position: center;
  color:white;
  top: 0;
  left: 0;
  position:fixed;
  height:20%;
  width:100.5%;
  font-size: 150%;}

#login{z-index: -1;
  top: 35%;
  text-align: center;
  left: 40%;
  position: fixed;
  color: black;}

#login>a{color:black;}
#login>a:hover{color:darkblue;}

#changelog{
  top: 20%;
  position: fixed;
  width: 100%;
  height:60%;}

#content{top: 35%;
  position: fixed;}
